= render "products/exhibition-header"
- breadcrumb :identify
= render "layouts/breadcrumbs"
.registrations
  .registrations__b
    %h1.registrations__b__title
      住所登録
    %br
    = form_for @address do |f| 
      = render "devise/shared/error_messages", resource: @address 
      .d_field_name
        = f.label :"送付先氏名(全角)", class: "d_field__title" 
        %span.need_user_info="必須"
        %br
        .d_field_name__a
          = f.text_field :s_family_name, autofocus: true, placeholder: "名字", class: "d_field_name__a__inp" 
        .d_field_name__b
          = f.text_field :s_first_name, autofocus: true, placeholder: "名前", class: "d_field_name__b__inp" 

      .d_field_name2
        = f.label :"送付先氏名・ふりがな(全角)", class: "d_field__title"  
        %span.need_user_info="必須"
        %br
        .d_field_name2__a
          = f.text_field :s_family_name_kana, autofocus: true, placeholder: "みょうじ", class: "d_field_name2__a__inp" 
        .d_field_name2__b
          = f.text_field :s_first_name_kana, autofocus: true, placeholder: "なまえ", class: "d_field_name2__b__inp" 

      .d_field
        = f.label :郵便番号, class: "d_field__title" 
        %span.need_user_info="必須"
        %br
        = f.number_field :post_code, autofocus: true, maxlength:7, placeholder: "半角数字", class: "d_field__box"  
      %br
      .d_field
        = f.label :都道府県, class: "d_field__title"
        %span.need_user_info="必須"
        %br
        = f.text_field :prefecture, autofocus: true, placeholder: "全角入力", class: "d_field__box" 
      %br
      .d_field
        = f.label :市区町村, class: "d_field__title" 
        %span.need_user_info="必須"
        %br
        = f.text_field :city, autofocus: true, placeholder: "全角入力", class: "d_field__box"  
      %br
      .d_field
        = f.label :番地, class: "d_field__title" 
        %span.need_user_info="必須"
        %br
        = f.text_field :block, autofocus: true, placeholder: "全角入力", class: "d_field__box"  
      %br
      .d_field
        = f.label :建物など, class: "d_field__title" 
        %br
        = f.text_field :building, autofocus: true, placeholder: "全角入力", class: "d_field__box"  
      %br
      .d_field
        = f.label :電話番号, class: "d_field__title" 
        %br
        = f.telephone_field :telephone_number, autofocus: true, minlength:10, maxlength:11, placeholder: "半角数字 ハイフンなし", class: "d_field__box"  
      %br
      .regi_actions
        = f.submit "登録", class: "regi_actions__btn" 
    %br
    .devise__render
      = render "devise/shared/links" 

= render "products/exhibition-footer" 
