- if Favorite.find_by(user_id: current_user.id, product_id: product.id)
  = link_to("/favorites/#{product.id}/destroy", method: :post, remote: true) do
    %li.optionalBtn.already
      = icon('fa', 'star')
      お気に入り済み！
-else 
  = link_to("/favorites/#{product.id}/create", method: :post, remote: true) do
    %li.optionalBtn.none
      = icon('fa', 'star')
      お気に入りへ！ 