= render partial: "homes/header"
%body.user-mein-body
  .default-container
    %nav.bread-crumbs
      %ul.mypage-top-tabs
        %li
          = link_to "FURIMA", "#", class:"mypage-top-tab"
        %li
          %span →マイページ
    %main.l-container.clearfix
      .l-side
        %nav.mypage-nav
          %ul.mypage-nav-list
            %li.side-bar
              = link_to "マイページメニュー", "#", class:"mypage-nav-list-item"
            %li
              = link_to "プロフィール", "#", class:"mypage-nav-list-item"
            %li
              = link_to "商品を出品する", "#", class:"mypage-nav-list-item"
            %li
              = link_to "商品を購入する", "#", class:"mypage-nav-list-item"
            %li
              = link_to "お気に入り", "#", class:"mypage-nav-list-item"
            %li
              = link_to "クレジットカード登録/変更", "#", class:"mypage-nav-list-item"
            %li
              = link_to "お問い合わせ", "#", class:"mypage-nav-list-item"
            %li
              = link_to "ログアウト", "#", class:"mypage-nav-list-item"
      .l-content
        %ul.mypage-top-tabs
          %li.mypage-nav-info
            = link_to "購入した商品", "#", class:"mypage-nav-list-item"
          %li.mypage-nav-info
            = link_to "コメント", "#", class:"mypage-nav-list-item"
          %li.mypage-nav-info
            = link_to "質問", "#", class:"mypage-nav-list-item"
          %li.mypage-nav-info
            = link_to "お知らせ", "#", class:"mypage-nav-list-item"
= render partial: "homes/footer"
= render partial: "homes/purchasebtn"