= render partial: "products/header"
%body.user-mein-body
  .default-container
    %nav.bread-crumbs
      %ul.mypage-top-tabs
        %li
          = link_to "FURIMA", "/", class:"mypage-top-tab"
        %li
          %span →マイページ
    %main.l-container.clearfix
      = render partial: "sidebar"
      .l-content
        %h1
          購入した商品
        .l-content-box
          - @products.each do |product|
            = link_to product_path(product) do
              .bought-item
                .bought-item__name
                  = product.product_name
                .bought-item__img
                  = image_tag (product.images[0].src.url)
= render partial: "products/footer"
= render partial: "products/purchasebtn"