= render partial: "products/header"
%body.user-mein-body
  .default-container
    %nav.bread-crumbs
      %ul.mypage-top-tabs
        %li
          = link_to "FURIMA", "/", class:"mypage-top-tab"
        %li
          %span →マイページ
    %main.l-container.clearfix
      .l-side
        %nav.mypage-nav
          %ul.mypage-nav-list
            %li.side-bar
              = link_to "マイページメニュー", "#", class:"mypage-nav-list-item"
            %li
              = link_to "プロフィール", "#", class:"mypage-nav-list-item"
            %li
              = link_to "商品を出品する", new_product_path, class:"mypage-nav-list-item"
            %li
              = link_to "商品を購入する", "#", class:"mypage-nav-list-item"
            %li
              = link_to "お気に入り", product_favorites_path(@favorite), class:"mypage-nav-list-item"
            %li
              = link_to "クレジットカード登録", credit_card_path(@user), class:"mypage-nav-list-item"
            %li
              = link_to "お問い合わせ", "#", class:"mypage-nav-list-item"
            %li
              = link_to "ログアウト", destroy_user_session_path,method: :delete, class:"mypage-nav-list-item"
      .l-content
        %h1
          購入した商品
        .l-content-box
          - @products.each do |product|
            = link_to product_path(product) do
              .bought-item
                .bought-item__name
                  = product.product_name
                .bought-item__img
                  = image_tag (product.images[0].src.url)
= render partial: "products/footer"
= render partial: "products/purchasebtn"