= render partial: "homes/header"
%body.user-mein-body
  .default-container
    %nav.bread-crumbs
      %ul.mypage-top-tabs
        %li
          = link_to "#", class:"mypage-top-tab" do
            %span{:itemprop => "title"} FURIMA
        %li
          %span →マイページ
    %main.l-container.clearfix
      .l-side
        %nav.mypage-nav
          %ul.mypage-nav-list
            %li.side-bar マイページメニュー
            %li
              = link_to "#", class:"mypage-nav-list-item" do
                プロフィール
            %li
              = link_to "#", class:"mypage-nav-list-item" do
                商品を出品する
            %li
              = link_to "#", class:"mypage-nav-list-item" do
                商品を購入する
            %li
              = link_to "#", class:"mypage-nav-list-item" do
                お気に入り
            %li
              = link_to "#", class:"mypage-nav-list-item" do
                クレジットカード登録/変更
            %li
              = link_to "#", class:"mypage-nav-list-item" do
                お問い合わせ
            %li
              = link_to "#", class:"mypage-nav-list-item" do
                ログアウト
      .l-content
        %ul.mypage-top-tabs
          %li.mypage-nav-info
            = link_to "#", class:"mypage-nav-list-item" do
              購入した商品
          %li.mypage-nav-info
            = link_to "#", class:"mypage-nav-list-item" do
              コメント
          %li.mypage-nav-info
            = link_to "#", class:"mypage-nav-list-item" do
              質問
          %li.mypage-nav-info
            = link_to "http://www.yahoo.co.jp/", class:"mypage-nav-list-item" do
              お知らせ
= render partial: "homes/footer"
= render partial: "homes/purchasebtn"