%section.pickupContainer
  %h2.head
    ピックアップカテゴリー
  .productBox
    .productHead
      = link_to "#" do
        %h3.title
          アーカイブ
    .productLists
      .productList
        = link_to "#" do
          %figure.productList--img
            = image_tag "/assets/chelsea.png"
          .productList--body
            %h3.name
              product3
            .details
              %ul
                %li
                  30000円
                %li
                  = icon('fas','star')
                  0
              %p
                (税込み)
      .productList
        = link_to "#" do
          %figure.productList--img
            = image_tag "/assets/manu.png"
          .productList--body
            %h3.name
              product2
            .details
              %ul
                %li
                  20000円
                %li
                  = icon('fas','star')
                  0
              %p
                (税込み)
      .productList
        = link_to "#" do
          %figure.productList--img
            = image_tag "/assets/liverpool.png"
          .productList--body
            %h3.name
              product1
            .details
              %ul
                %li
                  10000円
                %li
                  = icon('fas','star')
                  0
              %p
                (税込み)
     

