= render partial: "products/header"
.category-main
  .category-main__inner
    .parent-category
      - @parents.each do |parent|
        .parent-category__item
          = link_to parent.name , "#"
    - @parents.each do |parent|
      .titleBox
        = link_to parent.name, "#", class: "parentName"
        .childrenBox
          - parent.children.each do |child|
            .childrenBox__title
              = link_to child.name, "#"
            .childrenBox__items
              - child.children.each do |grandchild|
                .childrenBox__items__item
                  = link_to grandchild.name, "#"
= render partial: "products/appbanner"
= render partial: "products/footer"
= render partial: "products/purchasebtn"