= render partial: "products/header"
- breadcrumb :grandchild
= render "layouts/breadcrumbs"
.show-main
  .show-main__inner
    .contents
      .showTitle
        %h1
          = "#{@grandchild.name}の商品一覧"
      .productLists
        - @products.each do |product|
          .productList
            = link_to product_path(product.id) do
              .productList__img
                =image_tag (product.images[0].src.url)
              %h2
                = product.product_name


= render partial: "products/appbanner"
= render partial: "products/footer"
= render partial: "products/purchasebtn"