= render partial: "products/header"
- breadcrumb :child
= render "layouts/breadcrumbs"
.show-main
  .show-main__inner
    .contents
      .showTitle
        %h1
          = "#{@child.name}の商品一覧"
      %ul
        - @child.children.each do |grandchild|
          %li
            = link_to grandchild.name, item_category_path(grandchild.id)
= render partial: "products/appbanner"
= render partial: "products/footer"
= render partial: "products/purchasebtn"