%header.pcHeader
  .pcHeader__inner
    .pcHeader__inner__main
      %h1.pcHeader__inner__main__icon
        = link_to root_path do
          = image_tag asset_path("logo.png")
      .pcHeader__inner__main__searchBox
        = form_with(url: search_products_path, local: true, method: :get, class: "search-form" ) do |f|
          = f.text_field :keyword, placeholder: "キーワードから探す", class: "searchBox__input"
          = button_tag type: :submit do
            .searchBox__icon
              = image_tag asset_path("icon-search 1 .png")
    .pcHeader__inner__nav
      %ul.pcHeader__inner__nav__left
        %li.pcHeader__inner__nav__left__item.listLeft__item--first
          = link_to "カテゴリー", categories_path, id: "catBtn"
          .tree
            - @navi_parents.each do |parent|
              %ul.categoryTree
                %li.categoryTree__item
                  = link_to parent.name , category_path(parent.id), id: "#{parent.id}"
                  %ul.childrenTree
                    - Category.where(ancestry: parent.id).each do |child|
                      %li.childrenTree__item
                        = link_to child.name, subcategory_category_path(child.id)
                        %ul.grandchildrenTree
                          - child.children.each do |grandchild|
                            %li.grandchildrenTree__item
                              = link_to grandchild.name, item_category_path(grandchild.id)
  
        %li.pcHeader__inner__nav__left__item
          = link_to "ブランド", "#", id: "brandBtn"
      %ul.pcHeader__inner__nav__right
        - if user_signed_in?
          %li.pcHeader__inner__nav__right__item
            = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li.pcHeader__inner__nav__right__item
            = link_to "マイページ", user_path(current_user.id)
        - else
          %li.pcHeader__inner__nav__right__item
            = link_to "ログイン", new_user_session_path
          %li.pcHeader__inner__nav__right__item
            = link_to "新規会員登録", new_user_registration_path
