%section.pickupContainer
  %h2.head
    ピックアップカテゴリー
  .productBox
    .productHead
      = link_to "#" do
        %h3.title
          新規投稿商品
    .productLists
      - @products.each do |product|
        .productList
          = link_to "#" do
            %figure.productList--img
              =image_tag (product.images[0].src.url)
            .productList--body
              %h3.name
                = product.product_name
              .details
                %ul
                  %li
                    = number_to_currency(product.price)
                  %li
                    = icon('fas','star')
                    0
                %p
                  (税込み)
