
= render partial: "header"
.main
  = render partial: "mainvisual"
  = render partial: "topintroduction"
  = render partial: "topmiddledl"
  = render partial: "topkeyfeatures"
  = render partial: "pickupcategory"
  = render partial: "pickupbrand"
= render partial: "appbanner"
= render partial: "footer"
= render partial: "purchasebtn"

