= render partial: "header"
.searchContents
  .searchContents__inner
    .detailSearch
      = search_form_for(@q, url: detailsearches_path) do |f|
        .detailSearch__title
          %h1
            商品詳細検索
        .detailSearch__box
          .detailSearch__box--label
            = icon('fas', 'search')
            %p
              キーワードを入力
          = f.search_field :product_name_cont, placeholder: "キーワードを入力"

        .detailSearch__box
          .detailSearch__box--label
            = icon('fas', 'search')
            %p
              価格
          .detailSearch__box--forms
            = f.search_field :price_gteq, placeholder: "¥ 上限"
            %p ~
            = f.search_field :price_lteq, placeholder: "¥ 下限"

        .detailSearch__box
          .detailSearch__box--label
            = icon('fas', 'search')
            %p
              ブランドで検索
          = f.search_field :brand_cont, placeholder: "ブランドを入力"


        .detailSearch__box
          .detailSearch__box--label
            = icon('fas', 'search')
            %p
              商品の状態で検索
          = f.radio_button :condition_eq, '', {:checked => true}
          指定なし
          = f.radio_button :condition_eq, '傷あり'
          傷あり
          = f.radio_button :condition_eq, '目立たない傷あり'
          目立たない傷あり
          = f.radio_button :condition_eq, '傷なし'
          傷なし
          = f.radio_button :condition_eq, '未開封・新品'
          未開封・新品

        .detailSearch__box
          .detailSearch__box--label
            = icon('fas', 'search')
            %p
              発送料金で検索
          = f.radio_button :shipping_fee_eq, '', {:checked => true}
          指定なし
          = f.radio_button :shipping_fee_eq, '購入者負担(着払い)'
          購入者負担(着払い)
          = f.radio_button :shipping_fee_eq, '出品者負担(元払い)'
          出品者負担(元払い)

        .detailSearch__box
          .detailSearch__box--label
            = icon('fas', 'search')
            %p
              発送までの日数で検索
          = f.radio_button :arrive_at_eq, '', {:checked => true}
          指定なし
          = f.radio_button :arrive_at_eq, '1〜２日で発送'
          1〜２日で発送
          = f.radio_button :arrive_at_eq, '2〜3日で発送'
          2〜3日で発送
          = f.radio_button :arrive_at_eq, '3〜4日で発送'
          3〜4日で発送
        
        .detailSearch__btn
          .detailSearch__btn__clear
            = link_to "クリア", search_products_path, type: "button"
          = f.submit "検索"


    .resultContents
      %h1
        検索結果
      - if @products.present?
        %ul
          - @products.each do |product|
            = link_to product_path(product.id) do
              %li
                .contentImg
                  = image_tag (product.images[0].src.url)
                .contentBody
                  .contentName
                    = product.product_name
                  .contentPrice
                    = "￥#{product.price}"
                .arrow
                  = icon('fas', 'arrow-circle-right')
      - else
        %h1
          該当する物はありませんでした。       



= render partial: "footer"
= render partial: "purchasebtn"