= render partial: "header"
.productmain 
  .showMain
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            = @product.product_name
          .itemBox__body
            %ul.up-image
              %li.slide-image
                = image_tag (@product.images[0].src.url), class: "image-main-photo"
                - if @product.buyer_id.present?
                  .sold-band
                    .sold-band-inner
                      SOLD
            %ul.down-image
              - @product.images.each do |image|
                %li.thumbnail-image
                  = image_tag image.src.url, class: "image-sub-photo"
          .itemBox__price
            %span
              = @product.price
            .itemBox__price-detail
              %span
                (税込み)
              %span 
                送料込み
          .itemDetail
            = @product.explain
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    = @product.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    = link_to @parent.name,"#" 
                    %br/
                    = link_to  @child.name,"#"
                    %br/
                    = link_to @grandchild.name ,"#"
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td
                    =@product.condition
                %tr
                  %th 配送料の負担
                  %td 
                    =@product.shipping_fee
                    送料込み（出品者負担）
                %tr
                  %th 発送元の地域
                  %td
                    %a(href="#")
                      =@product.region.name
                %tr
                  %th 発送日の目安
                  %td
                    =@product.arrive_at
          .optionalArea
            - if user_signed_in?
              -if current_user.id == @product.user_id
                .DeleteBtn
                  =link_to "/products/#{params[:id]}", method: "delete", class:"Delete" do
                    = icon('fa', 'trash-alt')
                    商品削除
              - else
                %ul
                  %li.optionalBtn.likeBtn
                    = icon('fa', 'star')
                    お気に入り 0
                %ul.optional
                  %li.optionalBtn
                    = link_to "#" do
                      = icon('fa', 'flag')
                      不適切な商品の通報 
            - else
              %ul
                %li.optionalBtn.likeBtn
                  = icon('fa', 'star')
                  お気に入り 0
              %ul.optional
                %li.optionalBtn
                  = link_to "#" do
                    = icon('fa', 'flag')
                    不適切な商品の通報
        .commentBox
          .comments
            - if @messages
              - @messages.each do |message|
                .one-message
                  %p.message-userName
                    = link_to message.user.nickname, "/users/#{message.user_id}",  class: "user-link"
                  .message-text
                    = message.text
          - if current_user
            = form_with(model: [@product, @message], local: true) do |f|
              = f.text_area :text, placeholder: "コメントを入力する", rows: "2"
              %p.noticeMsg
                相手のことを考え丁寧なコメントを心がけましょう。
                %br
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              .comment-btn
                - if @product.buyer_id
                  .cannot-comment
                    %p
                      売り切れのためコメントできません
                - else
                  %button{type: "submit"}
                    = icon('fa', 'comment')
                    コメントする
          - else
            %strong
              %p コメントの投稿には新規登録、ログインが必要です
      %ul.links
        %li
          = link_to "#" do
            = icon('fa', 'angle-left')
            %span
              前の商品
        %li
          = link_to "#" do
            %span 後ろの商品
            = icon('fa', 'angle-right')
      .relatedItems
        = link_to "ベビー・キッズをもっと見る", "#"
= render partial: "appbanner"
= render partial: "footer"