= render partial: "header"
.productmain 
  .showMain
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            = @product.product_name
          .itemBox__body
            %ul.up-image
              %li.slide-image
                = image_tag (@product.images[0].src.url), class: "image-main-photo"
                - if @product.buyer_id.present?
                  .sold-band
                    .sold-band-inner
                      SOLD
            %ul.down-image
              - @product.images.each do |image|
                %li.thumbnail-image
                  = image_tag image.src.url, class: "image-sub-photo"
          .itemBox__price
            %span
              = "￥#{@product.price}"
            .itemBox__price-detail
              %span
                (税込み)
              %span 
                送料込み
          .itemDetail
            = @product.explain
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    = @product.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    = link_to @parent.name,"#" 
                    %br/
                    = link_to  @child.name,"#"
                    %br/
                    = link_to @grandchild.name ,"#"
                %tr
                  %th ブランド
                  %td
                    = @product.brand
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td
                    =@product.condition
                %tr
                  %th 配送料の負担
                  %td 
                    =@product.shipping_fee
                %tr
                  %th 発送元の地域
                  %td
                    %a(href="#")
                      =@product.region.name
                %tr
                  %th 発送日の目安
                  %td
                    =@product.arrive_at
          .optionalArea
            - if user_signed_in?
              -if current_user.id == @product.user_id && @product.buyer_id.blank?
                .userBtn
                  =link_to product_path(@product), method: "delete", class:"userBtn__delete" do
                    = icon('fa', 'trash-alt')
                    商品削除
                .userBtn
                  =link_to edit_product_path(@product), class:"userBtn__edit" do
                    = icon('fas', 'pen')
                    編集
              - elsif current_user.id != @product.user_id && @product.buyer_id.blank?
                %ul
                  - if Favorite.find_by(user_id: current_user.id, product_id: @product.id)
                    = link_to("/favorites/#{@product.id}/destroy", method: :post) do
                      %li.optionalBtn.already
                        = icon('fa', 'star')
                        お気に入り済み！
                        %span
                          = @favorite_count
                  -else 
                    = link_to("/favorites/#{@product.id}/create", method: :post) do
                      %li.optionalBtn.none
                        = icon('fa', 'star')
                        お気に入り
                        %span
                          = @favorite_count                
                %ul
                  %li.buyBtn
                    = link_to "/products/purchase/#{@product.id}" do
                      購入画面に進む
                %ul.optional
                  %li.optionalBtn
                    = link_to "#" do
                      = icon('fa', 'flag')
                      不適切な商品の通報 
              - else
                %ul.optional
                  %li.optionalBtn
                    = link_to "#" do
                      = icon('fa', 'flag')
                      不適切な商品の通報
            - else
              %ul
                %li.optionalBtn.likeBtn
                  = icon('fa', 'star')
                  お気に入り 0
              %ul.optional
                %li.optionalBtn
                  = link_to "#" do
                    = icon('fa', 'flag')
                    不適切な商品の通報
        .commentBox
          = form_tag do
            = text_area :keyword,''
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %button{type: "submit"}
              = icon('fa', 'comment')
              コメントする
      %ul.links
        %li
          = link_to "#" do
            = icon('fa', 'angle-left')
            %span
              前の商品
        %li
          = link_to "#" do
            %span 後ろの商品
            = icon('fa', 'angle-right')
      .relatedItems
        = link_to "ベビー・キッズをもっと見る", "#"
= render partial: "appbanner"
= render partial: "footer"
= render partial: "purchasebtn"