= render partial: "header"
.productmain 
  .showMain
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            = @product.name
          .itemBox__body
            %ul.up-image
              %li.slide-image
                = image_tag (@product.images[0].src.url)
            %ul.down-image
              - @product.images[1..-1].each do |image|
                %li.thimbnail-image
                  = image_tag image.src.url
          .itemBox__price
            %span 
              = @product.price
            .itemBox__price-detail
              %span
                (税込み)
              %span 
                送料込み
          .itemDetail
            = @product.explain
          .table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td 
                    = @product.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    = link_to @parent.name,"#" 
                    %br/
                    = link_to  @child.name,"#"
                    %br/
                    = link_to @grandchild.name ,"#"
                %tr
                  %th ブランド
                  %td
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td
                    =@product.condition
                %tr
                  %th 配送料の負担
                  %td 
                    =@product.shipping_fee
                    送料込み（出品者負担）
                %tr
                  %th 発送元の地域
                  %td
                    %a(href="#")
                      =@product.region
                %tr
                  %th 発送日の目安
                  %td
                    =@product.arrive_at
          .optionalArea
            %ul
              %li.optionalBtn.likeBtn
                = icon('fa', 'star')
                お気に入り 0
            %ul.optional
              %li.optionalBtn
                = link_to "#" do
                  = icon('fa', 'flag')
                  不適切な商品の通報
        .edit-deleteBox
          - if user_signed_in? && current_user.id == @product.user_id
            = link_to "商品の編集", "/products/:id/edit", class: "submit-btn submit-btn-blue"
            %p
              or
            = link_to "出品を再開する", "", class: "submit-btn submit-btn-blue"
            = link_to "この商品を削除する", "/products/:id", class: "submit-btn submit-btn-gray"
          - else
            =link_to "購入画面に進む", "#", class: "submit-btn submit-btn-blue"
        .commentBox
          = form_tag do
            = text_area :keyword,''
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %button{type: "submit"}
              = icon('fa', 'comment')
              コメントする
      %ul.links
        %li
          = link_to "#" do
            = icon('fa', 'angle-left')
            %span
              前の商品
        %li
          = link_to "#" do
            %span 後ろの商品
            = icon('fa', 'angle-right')
      .relatedItems
        = link_to "ベビー・キッズをもっと見る", "#"
= render partial: "appbanner"
= render partial: "footer"